doctype html
html(lang='en')
  block head
    include partials/head.pug
html
  body
    h1 Poly Bags and film stock
    p
      | Horizon Packaging offers custom combinations and innovative design solutions, as well as standard in-stock plastic bags, in many industries including Food and Bakery, Medical, Retail, Horticulture and Agriculture, Hospitality and more.
