head
  title static_build
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='version', content='0.0.1')
  //- favicon
  link(rel='shortcut icon', type='image/x-icon', href='img/SBCS_favicon.png')
  //- main styles
  link(rel='stylesheet', href='stylesheets/style.css')
  //- jquery cdn
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  //- Import Google Icon Font
  link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  //- Materialize: compiled and minified CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
  //- Compiled and minified JavaScript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
  //- Firebase
  script(src='https://www.gstatic.com/firebasejs/3.6.4/firebase.js')
  //- Firebase auth
  script(src='https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js')
  //-  written JS files
  script(src='js/main.min.js')
